@import '../../style/abstract/mixins';

.signin-form {
    width: 100vw;
    height: 100vh;
    
    @include flex-center(flex, row, center, center);

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 550px;
        
        .form {
            display: flex;
            gap: 10px;
            width: 70%;
            height: 100%;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            
            > h1 {
                font-size: 24px;
                font-weight: bold;
                color: #0065FE;
            }

            > p {
                font-size: 16px;
                font-weight: normal;
                color: #000;

                span {
                    color: #0065FE;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .form-containers {
                margin-bottom: 1rem;
                width: 50%;
                text-align: center;

                input {
                    width: 100%;
                    padding: 8px 16px;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid #d3d3d3;
                }
            }
        }
    }
}